<div class="container">
<div class="row">
 <div class="col-md-8 col-md-offset-4"><h1>Editing Author</h1></div></div>
</div>
<%= render 'form', author: @author %>

<%= link_to 'Show', @author %> |
<%= link_to 'Back', authors_path %>
