<div class="container">
<div class="row">
 <div class="col-md-9 col-md-offset-4"><p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @author.fullname %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %></div></div></div>
