<div class="container">
<div class="row">
 <div class="col-md-8 col-md-offset-4"><h1>Editing Production</h1></div></div></div>

<%= render 'form', production: @production %>

<%= link_to 'Show', @production %> |
<%= link_to 'Back', productions_path %>
