/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets"
@import "bootstrap"

body 
  color:  #8B4513
  background-image: url(50.png) 
  font-size: 20px
td
  padding: 5px
  font-size: 20px
button
  background-color:  #CD853F
th
  padding-right: 70px
table
  font-size: 30px
.col-md-8
  background-color: #8B4513
  width: 310px
  padding-bottom: 10px
  padding-top: 10px
  padding-right: 20px
  padding-left: 20px
  color: #F4A460
p
  font-size: 20px
  padding: 15px 



  	


